body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items : center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.score {
    height: 40%;
    width: 80%;
    font-size: 2em;
    position: absolute;
    top : 10px;
    display: flex;
    justify-content: center;

    .result-box {
        height: 45px;
        background-color: #000;
        // border-radius: 22.5px;
        // border-bottom-left-radius: 22.5px;
        // border-top-left-radius: 22.5px;
        display: flex;
        
        &:nth-child(1) {
            border-bottom-left-radius: 22.5px;
            border-top-left-radius: 22.5px;
        }
        
        &:nth-child(2) {
            border-bottom-right-radius: 22.5px;
            border-top-right-radius: 22.5px;
        }
        
        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__result {
            height: 30px;
            width: 30px;
            margin: 7.5px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.popUp {
    height: 45vh;
    width: 45vh;
    border-radius: 50%;
    position:absolute;
    justify-content: center;
    align-items: center;
    display : none ;
    transition: 0.5s opacity;

    &__background{
        height: 100%;
        width: 100%;
        background-color: black;
        border-radius: 50%;
        opacity: 0.6;
    
    }
    &__result {
        position: absolute;
        // bottom: 1vh;
        font-size: 34vh; 
    }

}

/* --------------------- ANIMATED BACKGROUND ------------------- */

.playBackground {
    height : 100% ;
    width : 100% ;
    position: absolute;
    display : flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
    .patchBabyHole   {
        
        height: 100px ;
        width: 100px ;
        background-color: red ;
        border-radius: 50% ;
        z-index : -1 ;
        position : absolute ;
    }
    
    .children1 {
        height : 400% ;
        width : 300% ;
        border : 2px solid red ;
        position: absolute;
        display : flex ; 
        justify-content: center;
        align-items: center;
    }
    
    .children1 > *{
        border : 5px solid red ;
        box-shadow: 0 0 50px red;
    }   
    
    .children2 {
        height : 400% ;
        width : 300% ;
        border : 2px solid red ;
        position: absolute;
        display : flex ; 
        justify-content: center;
        align-items: center;
    }
    
    .children2 > *{
        border : 5px solid red ;
        box-shadow: 0 0 50px red;
    }
}

.menu-handler--open {
    position: absolute;
    right: 2vmin;
    top: 2vmin;
    border: none;
    background-color: #000;
    border-radius: 1vmin;
    padding: 1vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .line {
        width: 1.2vw;
        border: 1px solid white;
        margin: 0.3vmin
    }

    &:hover {
        
        background-color: white;

        .line {
            
        border-color: #000;
        }
    }
}


.menu {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: none;

    &__background {
        height: 100vh;
        width: 100vw;
        // background-color: rgba(0, 0, 0, 0.281);
        position: absolute;
    }

    &__menu-box {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.548);
        
        .menu-box {

            &__background {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .background {
                    height: 80vmin;
                    width: 80vmin;
                    border: 4px dashed rgba(252, 247, 0, 0.712);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    animation-name: spinY;
                    animation-duration: 34s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    
                    &:last-child {
                        animation-name: spinX;
                    }
                    
                    &__square {
                        height: 70vmin;
                        width: 70vmin;
                        border: 4px dashed rgba(224, 118, 19, 0.788);
                        position:  absolute;

                        &:last-child {
                            transform: rotate(45deg);
                            height: 80vmin;
                            width: 80vmin;
                        }
                    }
                }
            }

            &__controls {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 5vmin;
                border: 2px solid rgb(224, 118, 19);
                height: 70vmin;
                width: 70vmin;
                border-radius: 50%;
                background-color: #000;
                padding: 10px;

                .speed {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    &__title {
                        border-bottom: 2px solid #fff;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                    }

                    .selector {
                        background-color:rgb(31, 192, 25);
                        cursor: pointer;

                        &:hover {
                            outline: 2px solid rgb(31, 192, 25);
                        }
                    }
                    
                    .selector:nth-child(2) {
                        background-color:rgb(236, 223, 30);
                        
                        &:hover {
                            outline: 2px solid rgb(236, 223, 30);
                        }
                    }
                    
                    .selector:nth-child(3) {
                        background-color:rgb(192, 78, 25);
                        &:hover {
                            outline: 2px solid rgb(192, 78, 25);
                        }
                    }
                }

                .colors {
                    // border: 2px solid #fff;
                    // display: grid;
                    // grid-template-columns: 1fr 1fr;
                    // gap: 7px;
                    // padding: 10px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
       
                    &__title {
                        border-bottom: 2px solid #fff;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        margin-bottom: 15px;
                    }

                    &__handler-box {                        
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 7px;
                    }

                    &__handler {
                        background-color: red;
                        border: 2px solid #000;
                        outline: 2px solid red;
                        cursor: pointer;    
                    }

                    &__handler:nth-child(2) {
                        background-color: pink;
                        border: 2px solid #fff;
                        outline: 2px solid pink;
                        color: #fff;
                    }

                    &__handler:nth-child(3) {
                        background-color: green;
                        border: 2px solid rgb(31, 192, 25);
                        outline: 2px solid green;
                        color: rgb(31, 192, 25);
                    }
                    
                    &__handler:nth-child(4) {
                        background-color: rgb(66, 105, 231);
                        border: 2px solid rgb(23, 173, 161);
                        outline: 2px solid rgb(233, 247, 38);
                        color: rgb(233, 160, 252);
                    }

                    &__handler:hover {
                        outline-width: 4px;
                    }
                }
            }
        }
    }

    &-handler--close {
        color: white;
        margin-top: 3vh;
        border-radius: 50%;
        border: 2px solid white;
        background-color: transparent;
        height: 4vh;
        width: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            outline: 2px solid white;
        }
    }
}

@keyframes spinY {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

@keyframes spinX {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
  }
  