body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items : center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.score {
    height: 40%;
    width: 80%;
    font-size: 2em;
    position: absolute;
    bottom : 77% ;
    display: flex;
    /* flex-wrap: wrap ; */
    flex-direction: row;
    justify-content: center;
    /* background-color: blueviolet; */
    
    &__hits {
        max-width: 50%;
        min-width: 50%;
        text-align:right;
        /* background-color: cadetblue; */
    }

    &__fails {
        max-width: 50%;
        min-width: 50%;
        text-align:left;
        /* background-color: cornflowerblue; */
    }
}

.popUp {
    height: 45vh;
    width: 45vh;
    border-radius: 50%;
    position:absolute;
    justify-content: center;
    align-items: center;
    display : none ;
    transition: 0.5s opacity;

    &__background{
        height: 100%;
        width: 100%;
        background-color: black;
        border-radius: 50%;
        opacity: 0.6;
    
    }
    &__result {
        position: absolute;
        // bottom: 1vh;
        font-size: 34vh; 
    }

}

/* --------------------- ANIMATED BACKGROUND ------------------- */

.patchBabyHole   {

    height: 100px ;
    width: 100px ;
    background-color: red ;
    border-radius: 50% ;
    z-index : -1 ;
    position : absolute ;
}

.son {
    height : 70% ;
    width : 70% ;
    position: absolute;
    display : flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.children1 {
    height : 400% ;
    width : 300% ;
    border : 2px solid red ;
    position: absolute;
    display : flex ; 
    justify-content: center;
    align-items: center;
}

.children1 > *{
    border : 5px solid red ;
    box-shadow: 0 0 50px red;
}   

.children2 {
    height : 400% ;
    width : 300% ;
    border : 2px solid red ;
    position: absolute;
    display : flex ; 
    justify-content: center;
    align-items: center;
}

.children2 > *{
    border : 5px solid red ;
    box-shadow: 0 0 50px red;
} 

.childrens {
    width: 90% ;
    height: 90% ;
    position: absolute ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.menu {
    height: 100vh;
    width: 100vw;
    position: absolute;

    &__background {
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.281);
        position: absolute;
    }

    &__menu-box {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.548);
        
        .menu-box {

            &__background {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .background {
                    height: 80vmin;
                    width: 80vmin;
                    border: 4px dashed rgba(252, 247, 0, 0.712);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    animation-name: spinY;
                    animation-duration: 34s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    
                    &:last-child {
                        animation-name: spinX;
                    }
                    
                    &__square {
                        height: 70vmin;
                        width: 70vmin;
                        border: 4px dashed rgba(224, 118, 19, 0.788);
                        position:  absolute;

                        &:last-child {
                            transform: rotate(45deg);
                            height: 80vmin;
                            width: 80vmin;
                        }
                    }
                }
            }

            &__controls {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 5vmin;
                border: 2px solid rgb(224, 118, 19);
                // border: 7px solid rgb(224, 118, 19);
                // outline: 40px dashed rgba(252, 248, 0, 0.877);
                height: 70vmin;
                width: 70vmin;
                border-radius: 50%;
                background-color: #000;
                padding: 10px;

                .speed {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    // padding: 10px;
                    // margin-bottom: 2vh;
                    
                    &__title {
                        border-bottom: 2px solid #fff;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                    }

                    .selector {
                        background-color:rgb(31, 192, 25);
                        cursor: pointer;
                    }

                    .selector:nth-child(2) {
                        background-color:rgb(236, 223, 30);
                    }

                    .selector:nth-child(3) {
                        background-color:rgb(192, 78, 25);
                    }
                }

                .colors {
                    // border: 2px solid #fff;
                    // display: grid;
                    // grid-template-columns: 1fr 1fr;
                    // gap: 7px;
                    // padding: 10px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
       
                    &__title {
                        border-bottom: 2px solid #fff;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        margin-bottom: 15px;
                    }

                    &__handler-box {                        
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 7px;
                    }

                    &__handler {
                        background-color: red;
                        border: 2px solid #000;
                        outline: 2px solid red;
                        cursor: pointer;    
                    }

                    &__handler:nth-child(2) {
                        background-color: pink;
                        border: 2px solid #fff;
                        outline: 2px solid pink;
                        color: #fff;
                    }

                    &__handler:nth-child(3) {
                        background-color: green;
                        border: 2px solid rgb(31, 192, 25);
                        outline: 2px solid green;
                        color: rgb(31, 192, 25);
                    }
                    
                    &__handler:nth-child(4) {
                        background-color: rgb(66, 105, 231);
                        border: 2px solid rgb(23, 173, 161);
                        outline: 2px solid rgb(233, 247, 38);
                        color: rgb(233, 160, 252);
                    }
                }
            }
        }
    }
}

@keyframes spinY {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

@keyframes spinX {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
  }
  