body {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.score {
  height: 40%;
  width: 80%;
  font-size: 2em;
  position: absolute;
  bottom: 77%;
  display: flex;
  /* flex-wrap: wrap ; */
  flex-direction: row;
  justify-content: center;
  /* background-color: blueviolet; */
}
.score__hits {
  max-width: 50%;
  min-width: 50%;
  text-align: right;
  /* background-color: cadetblue; */
}
.score__fails {
  max-width: 50%;
  min-width: 50%;
  text-align: left;
  /* background-color: cornflowerblue; */
}

.popUp {
  height: 45vh;
  width: 45vh;
  border-radius: 50%;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: none;
  transition: 0.5s opacity;
}
.popUp__background {
  height: 100%;
  width: 100%;
  background-color: black;
  border-radius: 50%;
  opacity: 0.6;
}
.popUp__result {
  position: absolute;
  font-size: 34vh;
}

/* --------------------- ANIMATED BACKGROUND ------------------- */
.patchBabyHole {
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
}

.son {
  height: 70%;
  width: 70%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.children1 {
  height: 400%;
  width: 300%;
  border: 2px solid red;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.children1 > * {
  border: 5px solid red;
  box-shadow: 0 0 50px red;
}

.children2 {
  height: 400%;
  width: 300%;
  border: 2px solid red;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.children2 > * {
  border: 5px solid red;
  box-shadow: 0 0 50px red;
}

.childrens {
  width: 90%;
  height: 90%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.menu__background {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.281);
  position: absolute;
}
.menu__menu-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.548);
}
.menu__menu-box .menu-box__background {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__menu-box .menu-box__background .background {
  height: 80vmin;
  width: 80vmin;
  border: 4px dashed rgba(252, 247, 0, 0.712);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  -webkit-animation-name: spinY;
          animation-name: spinY;
  -webkit-animation-duration: 34s;
          animation-duration: 34s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.menu__menu-box .menu-box__background .background:last-child {
  -webkit-animation-name: spinX;
          animation-name: spinX;
}
.menu__menu-box .menu-box__background .background__square {
  height: 70vmin;
  width: 70vmin;
  border: 4px dashed rgba(224, 118, 19, 0.788);
  position: absolute;
}
.menu__menu-box .menu-box__background .background__square:last-child {
  transform: rotate(45deg);
  height: 80vmin;
  width: 80vmin;
}
.menu__menu-box .menu-box__controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5vmin;
  border: 2px solid rgb(224, 118, 19);
  height: 70vmin;
  width: 70vmin;
  border-radius: 50%;
  background-color: #000;
  padding: 10px;
}
.menu__menu-box .menu-box__controls .speed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__menu-box .menu-box__controls .speed__title {
  border-bottom: 2px solid #fff;
  color: #fff;
  display: flex;
  justify-content: center;
}
.menu__menu-box .menu-box__controls .speed .selector {
  background-color: rgb(31, 192, 25);
  cursor: pointer;
}
.menu__menu-box .menu-box__controls .speed .selector:nth-child(2) {
  background-color: rgb(236, 223, 30);
}
.menu__menu-box .menu-box__controls .speed .selector:nth-child(3) {
  background-color: rgb(192, 78, 25);
}
.menu__menu-box .menu-box__controls .colors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__menu-box .menu-box__controls .colors__title {
  border-bottom: 2px solid #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.menu__menu-box .menu-box__controls .colors__handler-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
}
.menu__menu-box .menu-box__controls .colors__handler {
  background-color: red;
  border: 2px solid #000;
  outline: 2px solid red;
  cursor: pointer;
}
.menu__menu-box .menu-box__controls .colors__handler:nth-child(2) {
  background-color: pink;
  border: 2px solid #fff;
  outline: 2px solid pink;
  color: #fff;
}
.menu__menu-box .menu-box__controls .colors__handler:nth-child(3) {
  background-color: green;
  border: 2px solid rgb(31, 192, 25);
  outline: 2px solid green;
  color: rgb(31, 192, 25);
}
.menu__menu-box .menu-box__controls .colors__handler:nth-child(4) {
  background-color: rgb(66, 105, 231);
  border: 2px solid rgb(23, 173, 161);
  outline: 2px solid rgb(233, 247, 38);
  color: rgb(233, 160, 252);
}
.menu__menu-box .menu-box__controls .colors__handler:hover {
  outline-width: 4px;
}

@-webkit-keyframes spinY {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinY {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinX {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes spinX {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}/*# sourceMappingURL=style.css.map */